exportPattern("^[[:alpha:]]+")

export(adjust_p)
export(degree)
export(connectance)
export(cluster)
export(betweenness)
export(degree_entropy)
export(cross_entropy)
export(kl_divergence)
export(GPN_random)
export(SCORE)
export(SPA_SCORE)
export(GPN)
export(GPN_SS)
export(Network_Test)


importFrom(qvalue, qvalue)
import(stats)
import(foreach)
importFrom(MASS, ginv)
importFrom(MASS, mvrnorm)
importFrom(SPAtest, ScoreTest_SPA)
importFrom(zoo, fortify.zoo)
importFrom(methods, hasArg)
import(dplyr)
importFrom(ACAT, ACAT)
importFrom(harmonicmeanp, p.hmp)
